
/* ============
      HEADER
   ============ */

.mini-header a {
  color: inherit;
}


/* ================
      MAIN CONTENT
   ================ */

@media (min-width: 992px) {
  main {
    min-height: 50vh;
  }
}


/* ==========
     FOOTER
   ========== */

/*  Mega Footer
  =============== */

.mega-footer ul {
  list-style: none;
  padding-left: .75rem;
}

.mega-footer ul a {
  color: inherit;
}


/*  Mini Footer
  =============== */

/*.mini-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}*/

/* Copyright */
.copyright {
  margin: 0;
}
